body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

h1 {
    color: #333;
}

#game {
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    display: grid;
    grid-template-columns: repeat(7, 60px);
    grid-gap: 5px;
    background-color: #000814;
    padding: 10px;
    border-radius: 10px;
}

.cell {
    width: 60px;
    height: 60px;
    background-color: #001d3d;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.3s;
    position: relative;
    overflow: hidden;
}

.cell.red {
    background-color: #ff6347;
}

.cell.yellow {
    background-color: #ffd700;
}

.blink {
    animation: blink-animation 1s infinite;
}

@keyframes blink-animation {
    0%, 100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

.falling-piece {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    animation: fall-animation 0.5s linear;
}

.falling-piece.red {
    background-color: #ff6347;
}

.falling-piece.yellow {
    background-color: #ffd700;
}

@keyframes fall-animation {
    to {
        transform: translateY(100%);
    }
}
